<!--
Authors: Lillian Jackson and Prasiddhi Gyawali
Purpose: create a rss feed reader in terminal
-->

<!DOCTYPE html>
<html>
<head>
  <title>URL Input Form</title>
</head>
<body>
  <div style="margin:auto; border: 5px solid; margin-top: 200px;">
  <h1 style="text-align:center; margin-bottom: 50px; margin-top: 50px;">Insert URL</h1>
  <form style="text-align:center; margin-bottom: 50px;" action="/process_url" method="post">
    <input style="width:600px;" type="text" id="url" name="url">
    <input type="submit" value="Submit">
  </form>
  </div>
</body>
</html>
