<!--
Authors: Lillian Jackson and Prasiddhi Gyawali
Purpose: create a rss feed reader in terminal
-->

<!DOCTYPE html>
<html>
<head>
  <title>URL Result</title>
</head>
<body>
  <h1>You entered the following URL:</h1>
  <p><%= @url %></p>
</body>
</html>
